---
import { AccountsDashboard } from '../components/AccountsDashboard';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Money Manager | Accounts">
	<main class="home-page">
		<AccountsDashboard client:load />
	</main>
</Layout>
