---
import { CategoriesDashboard } from '../components/CategoriesDashboard';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Money Manager | Categories">
	<main class="home-page">
		<CategoriesDashboard client:load />
	</main>
</Layout>
